.cartPage {
  display: flex;
  flex-direction: column;
  padding: 20px 50px;
  gap: 20px;
  background-color: rgb(245, 245, 245);
  height: 100%;
}

.cartPage section {
  display: flex;
  gap: 50px;
}

.cartPage main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.cartPage aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 2px 10px 0 rgb(0, 0, 0, 0.2);
  padding: 20px;
  flex: 1;
  max-width: 500px;
  align-self: flex-start;
  gap: 76px;
  border-radius: 20px;
  background-color: white;
}

.cartPage button {
  background-color: rgb(48, 48, 48);
  color: white;
  padding: 7px 30px;
  border: none;
  border-radius: 20px;
  transition: transform 0.1s;
  width: 100%;
}

.cartPage button:active {
  transform: scale(0.95);
}

.emptyCart {
  align-items: center;
  justify-content: center;
}

.emptyCart div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
