.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: 0 2px 10px 0 rgb(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 20px;
  background-color: white;
}

.cartItem img {
  height: 150px;
  object-fit: contain;
  border-radius: 20px;
}

.info {
  max-width: 500px;
  display: flex;
  gap: 15px;
}

.info h2 {
  font-size: 1.3rem;
}

.actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.actions p {
  font-weight: bold;
}

.actions input {
  max-width: 60px;
  border: none;
  border-radius: 20px;
  background-color: rgb(226, 226, 226);
  padding: 5px 10px;
}

.actions button {
  background-color: rgb(48, 48, 48);
  color: white;
  padding: 7px 20px;
  border: none;
  border-radius: 20px;
  transition: transform 0.1s;
}

.actions button:active {
  transform: scale(0.95);
}
