.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(48, 48, 48);
  padding: 20px;
  color: white;
}

.navBar nav {
  display: flex;
  gap: 50px;
}

.navBar a {
  text-decoration: none;
  color: white;
}

.navBar a:hover,
.navBar a.active {
  text-decoration: underline;
}
