.navBar {
  display: flex;
  justify-content: center;
  background-color: rgb(109, 109, 255);
  padding: 20px;
  gap: 50px;
}

.navBar a {
  text-decoration: none;
  color: white;
}

.navBar a:hover,
.navBar a.active {
  text-decoration: underline;
}
