.product {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 10px 0 rgb(0, 0, 0, 0.2);
  border-radius: 20px;
  gap: 20px;
}

.product img {
  height: 300px;
  object-fit: contain;
  border-radius: 20px 20px 0 0;
  background-color: rgb(255, 255, 255);
  padding: 20px;
}

.product section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  flex: 1;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 -2px 10px 0 rgb(0, 0, 0, 0.1);
}

.info {
  display: flex;
  flex-direction: column;
}

.info div {
  display: flex;
  gap: 5px;
}

.info h2 {
  font-size: 1.3rem;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.actions div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions p {
  font-weight: bold;
}

.actions input {
  max-width: 60px;
  border: none;
  border-radius: 20px;
  background-color: rgb(226, 226, 226);
  padding: 5px 10px;
}

.actions button {
  background-color: rgb(48, 48, 48);
  color: white;
  padding: 5px;
  border: none;
  border-radius: 20px;
  transition: transform 0.1s;
}

.actions button:active {
  transform: scale(0.95);
}
