.shopPage {
  display: flex;
  flex-direction: column;
  padding: 20px 50px;
  gap: 20px;
  background-color: rgb(245, 245, 245);
  flex: 1;
}

.shopPage main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

@media (max-width: 350px) {
  .shopPage main {
    align-self: center;
  }
}

.loading {
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  height: 60px;
  width: 60px;
  border: 15px solid rgb(48, 48, 48);
  border-top: 15px solid rgb(245, 245, 245);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
